<!DOCTYPE html>
<html>
<head>
  <title>NumberGuesser</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Number Guesser</h1>
      <%= yield %>
      <h2><%= notice %></h2>
    </div>
  </div>
</body>
</html>
